.flex12a {
  color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.val12 {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: var(--fadepuple);
  font-weight: 200;
  font-family: "Airbnb Cereal App Light";
}
.hborhood {
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.04em;
  color: #16465c;
}
.property111 {
  padding-top: 11rem;
  padding-left: 6rem;
  padding-right: 5.8rem;
  background: var(--fade-white);
  min-height: 90vh;
}
.p_122 {
  border: 1px solid #a0a3bd;
  box-sizing: border-box;
  border-radius: 12px;
  width: 84%;
}
.p_122 {
  background: white;
}
.p_122 div {
  width: 29% !important;
}
.d121 {
  display: flex;
}
.d121 .hon {
  width: initial;
}
.d121 .flex-23 {
  margin-left: 0px;
}
.d121 div div {
  padding-left: 1rem;
  border-right: 1px solid #a0a3bd;
  height: 51px;
}
.flex-w2 .submitbtn {
  width: 230px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.d121 div .w22a {
  border-right: none;
}
.home12 {
  width: 62%;
}
.submitbtn {
  width: 299px;
  margin: auto !important;
  padding-right: 0px;
}
.d121 {
  padding-bottom: 3rem;
}
.p_12ee {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1250px) {
  .d121 .hon {
    padding-left: 0px;
    margin-top: 1rem;
  }
  .main_title_123 {
    margin-left: 3rem;
  }
  .d121 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hon {
    justify-content: flex-end;
  }
  .flex12a {
    justify-content: center;
  }
  .submitbtn {
    padding: 0px;
  }
  .flex-23 {
    flex-wrap: wrap;
  }
  .flex-w2 {
    min-width: 250px;
  }
  .flex-w2 {
    border: none !important;
  }
  .property111 {
    padding-left: 2rem;
    padding-right: 0.8rem;
  }
  .sampleproperty12 {
    margin-right: 2rem;
  }
}
@media (max-width: 700px) {
  .sampleproperty12 {
    margin-right: 0rem;
  }
  .main_title_123 {
    margin-left: 0.1rem;
  }
  .property111 {
    padding-left: 1rem;
  }
  .box_wraper12 {
    margin-right: 0rem !important;
  }
  .hon {
    justify-content: center;
  }
  .d121 div div,
  .d121 div span {
    padding-left: 1px;
    display: flex;
    justify-content: center;
  }
  .d121 div span {
    display: inherit;
  }
  .d121 .flex-23 {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .p_122 div {
    width: 100% !important;
    border-bottom: 1px solid #a0a3bd;
  }
}
.property111b {
  padding-top: 5rem;
}
.property111b div div div {
  margin-left: 5px;
  padding-right: 0px;
}
.hborhood1 {
  font-size: 14px;
  padding-top: 4rem;
}
.top_slide,
.top_slide1 {
  width: 100%;
  padding-top: 0px;
}
.h34 {
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 0px;
}
.hjt {
  flex: 0 0 72%;
  max-width: 32%;
}
.bd11 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top_slide__1 {
  margin-top: 1.5rem;
  width: 100%;
  padding-top: 0px;
  min-width: 340px;
  height: 115%;
  border-radius: 12px;
}
.top_slide__2 {
  width: 100%;
  min-width: 340px;
  margin-top: 0.4rem;
  border-radius: 12px;
}
.fbdroom {
  /* font-size: 16px; */
}
.fbdroom23 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
  font-family: "Airbnb Cereal App Medium";
  display: flex;
  justify-content: space-between;
  color: var(--heavy-blue);
  margin-top: 1rem;
  position: relative;
  right: 0.5rem;
}
.boldtxt1 {
  font-weight: 600;
}
.smltext {
  font-size: 14px;
  font-family: "Airbnb Cereal App Light";
}
.llm {
  font-size: 16px;
  margin-top: 1rem;
  margin-right: 1.5rem;
  font-family: "Airbnb Cereal App Light";
}
.ll23 {
  font-size: 16px;
  font-family: "Airbnb Cereal App Light";
  padding-top: 0.1rem;
  display: flex;
  align-items: center;
}
.Location {
  margin-right: 0.5rem;
}
.crd23 {
  position: relative;
  right: 1.8rem;
  margin-top: 0px;
}
.contstr2 {
  color: var(--sub-titlecolor);
  font-weight: 700;
}
.contstr3 {
  padding-left: 1px;
  margin-left: 0px;
  margin-top: 2rem;
}
.hb340 {
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.02em;
}
.desc_110a {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  font-family: "Airbnb Cereal App Medium";
  color: var(--heavy-blue);
}
.contstr3 div {
  margin-left: 0px !important;
}
.desc_110 {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--fadepuple);
}
.no_boxes {
  width: 90px;
  height: 80px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
  align-items: center;
  justify-content: center;
}
.no_boxes div {
  font-weight: 500;
}
.title_amenities {
  background: #f2f2f2;
  border-radius: 12px 12px 0px 0px;
  padding: 1rem 2rem;
  font-weight: 600;
  color: var(--dark-blue);
}
.amentities {
  border: 1px solid #67697a;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 2rem;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.amenities_body {
  padding-right: 3rem;
  padding-left: 2rem;
  padding-top: 1.7rem;
  font-weight: bold;
  font-size: 14px;
  color: var(--sub-titlecolor);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.mainrelative {
  position: relative;
  top:1.2rem;
}
.Exclude {
  margin-right: 0.6rem;
}
.amenities_body div {
  min-width: 220px;
  margin-bottom: 1.5rem;
}
.main_title_123 div {
  padding-bottom: 1rem !important;
}
.amentities1 {
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: 0px;
  padding-left: 0px;
}
.amentities1 div {
  padding-top: 0rem;
}
.amentities1 .amenities_body {
  border-bottom: 1px solid gray;
  margin-top: 1rem;
}

.main_title_12,
.main_title_123 {
  padding-bottom: 2rem;
}
.desc_11xz {
  padding-top: 2rem;
}
.available1 {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #219653;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  width: 150px;
  padding: 0.5rem;
  justify-content: center;
  display: flex;
  background: #d5f6e3;
  border-radius: 8px;
}

.soldout {
  background: #fce5e3;
  border-radius: 8px;
  color: #eb5757;
}
.amenities_body:last-child{
  border-bottom: 0px solid transparent;
}