:root {
  /* ///// 1a. Colors /////// */
  /* Main Colors */
  --primary-color: #03339a;
  --primary-background-color: #f9f9f9;
  --secondary-background-color: #f7f7f7;
  --accent-color: #5fb49c;
  --green-color: #0fbc49;
  --red-color: #ff523d;
  --cool-green: #5fb49c;
  /* Base Colors */
  --grey-color: #bbbbbb;
  --white-color: #fff;
  --black-color: #4e4e4e;
  --off-white: #f6f6f6;
  --pale-navy-blue: #ccdcff;
  /* Other Colors */
  --pastel-green: #98dfaf;
  --navy-blue: #124bc6;
  --blueberry-blue: #548aff;
  --faux-gin: #deefb7;
  --sky-blue: #abd2fa;
  --dark-blue: #172f61;
  --raisin-black: #262626;
  --nero-black: #292929;
  --footer-text-color: #a0a0a0;
  /* Color Gradient */
  --blue-black-gradient: linear-gradient(180deg, #03339a 0%, #292929 100%);
  /* ////// 1b.Typography /////// */
  --main-font: "Neue Haas Grotesk", Lato, sans-serif;
  /* ////// 1c.Reusables ///////// */
  --content-padding: 0 10%;
  /* hsf project  */
  --heavy-blue: #16465c;
  --light-green: #6fa73d;
  --fade-white: #fbfbf8;
  --pure-white: #ffffff;
  --fadepuple: #6e7191;
  --deep-purple:#9672FF;
  --fadebg:#F5FAFD;
  --fadetext:#8C97AC;
  --off-white:#E2E4E8;
  --skyblue:#4DDFFD;
  --light-purple:#F2B8EC;
  --sub-titlecolor:#4e4b66;
  --sub-col:#E0E0E0;
}
@font-face {
  font-family: "Airbnb Cereal App Book";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Book"),
    url("./font/AirbnbCerealBook.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Light";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Light"),
    url("./font/AirbnbCerealLight.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Medium"),
    url("./font/AirbnbCerealMedium.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Bold"),
    url("./font/AirbnbCerealBold.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Extra Bold"),
    url("./font/AirbnbCerealExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Black";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Black"),
    url("./font/AirbnbCerealBlack.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto !important;
  font-family: "Airbnb Cereal App Light";
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.lost1 {
  width: 55%;
  padding-top: 4rem;
  min-width: 300px;
}
